
body {
    font-family: 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;  
    text-align: center;
    justify-content: space-around;
    background-color: #a9abe5;
    color: #333333;
}
table{margin:30px 0;}

th{
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    padding: 10px 5px;
    color: #333333;;
}

.menu{ margin: 0 10px; }


.button{
    margin: 10px 0;
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: darkseagreen;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 20px;
    transition: all 0.5s ease;
}
.button:hover {
    background-color: #3d7b49;
    
}

@media(max-width: 1025px) {
    body { flex-direction: column; }

    table { width: 90%; }

    th { font-size: 30px; }

    h1 { display: none; }

    .menu {
        display: flex;
        justify-content: space-around;
        margin: 0;
        width: 100%;
    }
    .button{
        margin: 10px 0;
        border-radius: 5px;
        padding: 6px 12px;
        font-size: 30px;
    }
}

@media (max-width: 496px) {
    table { margin: 10px 0; }

    .button{
        margin: 5px 0;
        border-radius: 5px;
        font-size: 20px;
    }
    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
    }
    
}