
html{
  display: flex;
  justify-content: center;
}
body{
  width: 1201px;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
}

.header{
height: 90px;
background-color: #8cc34b;
padding: 0 30px 0 30px;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow:  0 6px 4px 0px rgba(0, 0, 0, .2);
}

.user {
  display: flex;
  align-items: center;
}

.user-data{
  color: #ffffff;
  margin-left: 20px;
}

.user-data_fio{
font-size: 21px;
font-weight: 500;
}

.user-data_email{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  transition: all ease 0.2s;
}

.user-data_email:hover{
  opacity: 1;
}

.link{text-decoration: none;}
.link :hover{cursor: pointer;}

.social-links{
  display: flex;
  align-items: center;
  width: 138px;
  justify-content: space-between;
}

.fab{
  font-size: 30px;
  color: #ffffff;
  opacity: 0.7;
  transition: all ease 0.2s;
}

.fab:hover{
  opacity: 1;
}

h1{
  text-align: center;
  color: #212121;
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}

h2{
  text-align: center;
  color: #727272;
  font-size: 21px;
  font-weight: 300;
  line-height: 27.82px;
  margin: 20px 0 40px 0;
}

.about-future{padding: 76px 0 75px 0;}

.about-me {
  display: flex;
  justify-content: center;
}

.about-me > div:first-child {
  margin-right: 45px;
}

.ok {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 21px;
  padding: 1px;
}

.ok img {
  margin-right: 20px;
}

.description{
  color: #727272;
  font-family: "Fira Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.description_h{
  color: #212121;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 15px 0; 
}

.description-word-link{
  display: flex;
}

.description-word-link div{margin-right: 4px;}


.courses{
  background: url('img/bg.png');
  padding: 80px 133px 55px 133px;
}
.courses_forms{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course{
  width: 300px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  
}

.course:hover .absolute{
  display: block;
}
.course:hover h3{
  color: #8cc34b;
}
.course:hover {
  cursor: pointer;
}

.relative{
  position: relative;
  bottom: 5px;
  height: 5px;
  width: 300px;
}
.absolute{
  display: none;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: #8cc34b;
  transition: all ease 0.2s;
}
.course_description{
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #727272;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

h3{
  color: #212121;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  margin: 15px 20px;
  transition: all ease 0.2s;
  
}

h4{
  padding: 0 20px;
  text-align: left;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.courses p{
  color: #b6b6b6;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  margin: 17px 20px ;
  display: flex;
}

.far {
  display: flex !important;
  align-items: center; 
  margin-right: 5px;
}
.completed{
  padding: 20px;
  background-color: #f6f7f2;
  display: flex;
  align-items: center;
}

label{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

input[type="checkbox"] {
  visibility: hidden;
  width: 24px;
  height: 24px;
  margin: 0 19px 0 0;
}

input[type="checkbox"]:before {
  content: '\f0c8';
  font-weight: 400;
  visibility: visible;
  font-size: 24px;
  color: #727272;
}

input[type="checkbox"]:checked:before {
  content: '\f14a';
  font-weight: 700;
  visibility: visible;
  font-size: 24px;
  color: #8cc34b;
}


footer {
  height: 72px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer text{
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}


