body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: #ddeaf0;
    @media (max-width: 750px){background-color: #f0e3dd;}
    #root{
        width: 70%;
        height: 100vh;
        background-color: #f0e3dd;
        padding: 20px;
        @media (max-width: 910px){
            width: 100%;
            padding: 0;
        }

        h1 {text-align: center;}
        .container{
            display: flex;
            justify-content: space-around;
            @media (max-width: 750px) {
                flex-direction: column;
                align-items: center;
                .game-info{
                    margin-top: 20px;
                    width: 100%;
                    .btn{
                        font-size: 25px;
                        padding: 7px 10px;
                    }
                }
                .square{ 
                    width: 120px;
                    height: 120px;
                    font-size: 100px;
                }
            }
        }
    }
    
}

.game-board { width: max-content;}
.board-row {
    display: flex;
    .square {
        background: #ffffff;
        border: 4px solid hsl(17, 19%, 59%);
        float: left;
        font-size: 65px;
        height: 80px;
        margin-right: -4px;
        margin-top: -4px;
        padding: 0;
        width: 80px;
        font-family: 'Montserrat', sans-serif;
        transition: all 0.3s ease;
    
        &:focus {outline: none;}
        
        &:hover{
            background-color: #e7e7e7;
            cursor: pointer;
        }
    }
}



.game-info {
    padding: 10px 0;
    width: 50%;
    text-align: center;
    .status{
        font-size: 30px;
    }
}

.btn{ 
    width: max-content;
    background-color: #ddeaf0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid #6d7071;
    transition: all 0.3s ease;
    white-space: nowrap;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:hover{
        background-color: #c5dee9;
        cursor: pointer;
    }
}
ol{
    padding: 0;
    li { margin-top: 5px ;}
}

