body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.header{
  background-image: url(../images/header_back.jpg);
  background-size: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.about-company{
  margin-bottom: 40px;
}

.about-company h1{font-size: 24px;}
.header .logo{
  width: 7%;
}
.header a img{width: 100%;}
.phone{
  text-decoration: none;
  color:#17bd80; 
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}
.call-to-action {
  text-align: center;
  margin-bottom: 50px;
}
.call-to-action p{
  font-weight: bold;
  font-size: 24px;
}
.calc-data{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 50px;
}

.slidecontainer{width: 30%;}

.slidecontainer p{
  margin-top: 10px;
  font-weight: 800;
  font-size: 20px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 .slidecontainer__value-of-slide{
  font-weight: bold;
  margin-bottom: 10px;
}
.slidecontainer__min-max{
  display: flex;
  justify-content: space-between;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width:20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.dropdown {
  margin-top: 30px;
  background-color: #ecebeb;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  text-align: left;
  width: 15%;
  height: max-content;
}
.dropdown .dropdown__select {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.dropdown .dropdown__select span{
  font-weight: bold;
  white-space: nowrap;
}
i {
  margin-left:5px;
  color: #4CAF50;
  cursor: pointer;
  transition: all .3s ease-in-out;
  line-height: 20px;
}
.active i {
  transform: rotate(-180deg);
}
.dropdown:hover {
  box-shadow: 0 0 4px #4CAF50;
}
.dropdown:active {
  background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px  #4CAF50;
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}

.dropdown .dropdown__menu {
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  overflow-y: auto;
  z-index: 9
}
.dropdown .dropdown__menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer
} 
.dropdown .dropdown__menu {
  padding: 0;
  list-style: none;
  position: absolute;
}
.dropdown .dropdown__menu li:hover {
  background-color: #f2f2f2
}
.dropdown .dropdown__menu li:active {
  background-color: #e2e2e2
}

.enter-your-details{
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
}
.users-data{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.users-data input{
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #4CAF50;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
.users-data input:focus{
  background-color: #f2f2f2
}
.result-text{
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}
.btn{
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease all;
  font-size: 16px;
  margin: 0 auto;
  width: max-content;
}

.accordion{
  width: 90%;
  margin: 0 auto;
}
.tab input, .tab__answer {
  display: none;
  color: #333333;
}

.tab__question {
  margin: 50px 0 25px;
  display: block;
  font-weight: 600;
  line-height: 1.5;   
  cursor: pointer;
}
.tab__answer {
  padding-left:24px;
  line-height: 1.3;
}

.tab :checked ~ .tab__answer  {
  display: block;
}
.overlay{display: none;}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #333333;
  border-radius: 5px;
  padding-bottom: 20px;
}

@media (max-width: 1205px){
  body{font-size: 13px;}
  .about-company{
    margin-bottom: 30px;
  }
  .about-company h1{font-size: 20px;}
  .phone{ 
    font-size: 20px;
  }
  .dropdown{
    font-size:12px;
    width: 20%;
  }
  .dropdown .dropdown__menu li{padding: 7px;}
  .dropdown .dropdown__select{padding: 7px;}
  .slidecontainer p{
    margin: 12px 0;
    font-size: 16px;
  }
  .call-to-action p{
    width: 90%;
    margin: 0 auto 16px;
    font-size: 20px;
  }
  .slidecontainer__min-max{font-size: 13px;}
  .tab__question{
    margin: 30px 0 15px;
    font-size: 16px; 
  }
  .popup {width: 35%;}
  .tab__answer{
    font-size: 13px;
    line-height: 1.3;
  }
  .users-data input{
    font-size: 13px;
    padding: 7px;
  }
  .btn{
    font-size: 13px;
    padding: 7px 10px;
  }
  .result-text{font-size: 13px;}
}


@media (max-width: 992px){
  body{font-size: 13px;}
  .about-company h1{font-size: 20px;}
  .phone {
    font-size: 16px;
  }
  .dropdown{
    font-size:12px;
    width: 20%;
  }
  .users-data input{
    font-size: 12px;
    padding: 7px;
  }
  .btn{
    font-size: 12px;
    padding: 7px 10px;
  }
  .slidecontainer p{
    margin: 12px 0;
    font-size: 13px;
  }
  .slidecontainer__min-max{font-size: 13px;}
  .tab__question{
    font-size: 14px;
    margin: 20px 0 10px; 
  }
  .tab__answer{
    font-size: 14px;
  }
}


@media (max-width: 767px){
  body{font-size: 10px;}
  .header{margin-bottom: 10px;}
  .about-company h1{font-size: 14px;}
  .about-company {
    margin-bottom: 10px;

    width: 50%;
  }
  .phone {
    font-size: 13px;
  }
  .call-to-action{margin-bottom: 10px;}
  .call-to-action p{
    margin: 8px auto;
    font-size: 14px;
  }
  .header .logo{width: 10%;}
  .dropdown{
    font-size:10px;
    width: 25%;
  }
  .calc-data{
    flex-direction: column;
    margin-bottom: 15px;
  }
  .slidecontainer{
    width: 50%;
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
  }
  .users-data input{
    font-size: 12px;
    padding: 7px;
  }
  .btn{
    font-size: 12px;
    padding: 5px 8px;
  }
  .slidecontainer p{
    margin: 8px 0;
    font-size: 12px;
  }
  .slidecontainer__min-max{font-size: 10px;}
  .tab__question{
    font-size: 12px;
    margin: 20px 0 10px; 
  }
  .tab__answer{
    font-size: 10px;
  }
  .dropdown {
    margin-top: 10px;
    width:50%;
  }
  .slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    
  }
  
  .slider::-moz-range-thumb {
    width:15px;
    height: 15px;
  }
  .enter-your-details{font-size: 14px;}
  .users-data{ width: 70%;}
  .users-data input{
    padding: 5px;
    font-size: 12px;
  }
  .popup {width: 45%;}
  .result-text{font-size: 10px;}
}

@media (max-width: 479px){
  
  body{font-size: 14px;}
  
  .header{margin-bottom: 8px;}
  
  .about-company h1{font-size: 10px;}
  
  .about-company {
    margin-bottom: 8px;
    display: none;
  }
  
  .phone {font-size: 14px;}
  
  .call-to-action{margin-bottom: 20px;}
  
  .call-to-action p{
    margin: 25px auto;
    font-size: 18px;
  }
  
  .header .logo{
    width: 15%;
    margin: 5px 0;
  }
  
  .slidecontainer{
    width: 85%;
    margin-top: 30px;
    font-size: 14px;
  }
  
  .slider {
    height: 5px;
    border-radius: 5px;   
  }
  .slidecontainer p{
    margin: 10px 0;
    font-size: 25px;
  }
  .slidecontainer__min-max{font-size: 13px;}
  
  .slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
  
  .slider::-moz-range-thumb {
    width:20px;
    height: 20px;
  }

  .users-data input{
    font-size: 12px;
    padding: 7px;
  }
  .btn{
    margin: 20px auto;
    font-size: 16px;
    padding: 10px 15px;
  }
  .accordion{padding-top: 15px;}
  .tab__question{
    font-size: 16px;
    margin: 20px 0; 
  }
  .tab__answer{
    font-size: 14px;
  }
  .dropdown {
    margin-top: 10px;
    width:85%;
    font-size: 16px;
  }
  .dropdown .dropdown__select{
    padding: 12px;
  }
  
  .dropdown .dropdown__menu li {
    padding: 12px;
  }

  .dropdown .dropdown__menu{
    margin:0;
    position: relative;
  }

  .enter-your-details{font-size: 20px;}

  .users-data input{
    padding: 12px;
    font-size: 16px;
  }
  .users-data {
    width: 90%;
  }
  
  .popup {width: 85%;}

  .result-text{
    font-size: 14px;
    margin: 0;
  }
}