

*{
  margin: 0;
  text-decoration: none;
  font-family: Arial;
}

a { 
  display: flex;
  transition: all ease 0.2s;
}

.cursor-pointer:hover {
  cursor: pointer;
}

menu-768, .burger, .crazy-summer_back-768px,
.collage768, .whats-hot img, 
.load-more, .bags-container, .campaigns2, .stores2{ 
  display: none; 
}


/* -----------------HEADER---------------- */

header{
  background-color: #000000;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
}
.div-header{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.tel{
  font-size: 11px;
  font-weight: 400;
  white-space: nowrap;
}
.navigation{
  display: flex;
  align-items: center;
}

.navigation img{
  width: 15px;
  height: 15px;
}
.navigation_currency,.navigation_account{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navigation_account{
  flex-grow: 1;
  justify-content: center;
}

.navigation_currency {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}
  
.navigation_account p {
  margin-left: 10px;
}

.navigation_currency select{
  min-width: 40px;
  font-size: 11px;
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: none;
  appearance: none;
  background: url(img/arrow-down-grey.png) no-repeat right;
  background-position: right;

}

.navigation_currency select option{
  background-color: #000000;
}

.navigation_search{
  padding: 10px;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}

/* -----------------CATALOG---------------- */


.catalog-container{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.div-catalog{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.logo{
  width: 120px;
  height: 28px;
}
.logo:hover { cursor: pointer; }

.menu{
  display: flex;
  align-items: center;
  width: max-content;
}

.element{ 
  display: flex;
  margin-right: 25px;
  transition: all ease 0.2s;
}

.element:hover{ 
  cursor: pointer; 
  transform: scale(1.1);
}

.element img{
  margin-left: 4px;
  object-fit: none;
}

.part-of-cart{
  display: flex;
  color: #949393;
  border: 1px solid #d6d6d6;
  justify-content: space-between;

}

.cart_top {
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  border-bottom: none;
}
.cart_bottom {
  font-size: 11px;
  font-weight: 400;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  background-color: #fafafa;

}

.cart-img { 
  width: 20px;
  height: 20px;
}

.cart_bottom p{
  margin-left: 100px;
  white-space: nowrap;
}

/* -----------------CRAZY SUMMER---------------- */

.crazy-summer{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background: linear-gradient( to right,#f6f3ec 50%, #eae1d8 50%);
  height: 440px;
}

.crazy-summer_back{
  width: 1204px;
  position: relative;
  z-index: 0;
}

.arrows{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: calc(50% - 59px);
  margin-bottom: 25px;
  z-index: 1;
}

.arrows_arr {
  background-color: #ffffff;
  padding: 50px 10px;
}



.crazy-summer_button{
  position: absolute;
  bottom: 80px;
  margin-left: 275px;
  padding: 20px 25px;
  box-shadow: 0 3px 0 #dd6b44;
  background-color: #fd926d;
  display: flex;
  align-items: center;
}

.crazy-summer_button p{
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 20px;
}
.band-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: left;
  bottom: 0px;
}

.band-container:hover .crazy-summer_band{
  opacity: 0.5;
}

.crazy-summer_band{
  
  width: 65%;
  height: 7px;
  background-color: #000000;
  opacity: 0.2;
  transition: ease 0.3s;
}

/* -------------------EMAIL/LINKS--------------------- */

.balls{
  text-align: center;
  padding: 30px 0;
}

.contacts-container {
  width: 100%;
  height:55px;
  background-color: #ededed;
  display: flex;
  justify-content: center;
}
.div-contacts{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-email{
  display: flex;
  align-items: center;
}

.div-contacts p{
  font-size: 12px;
  font-weight: 400;
  margin-right: 10px;
  color: #6b6b6b;
}

.input-container{
  display: flex;
}

.email-field{
  color: #9f9f9f;
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
}

.email-plus{
  border-bottom: 3px solid #dd6b44;
  padding: 8px;
  font-size: 11px;
  background-color:#fd926d;
  transition: 0.2s;
}

.email-plus:hover{
  background-color:#dd6b44;
}

.our-social{
  display: flex;
  align-items: center;
}

.our-social img{
  width: 55px;
  height: 55px;
}


/* -------------------COLLAGE--------------------- */



.grid-collage{
  padding: 40px 0;
  width: 970px;
  height: 340px;
  display: grid;
  grid-gap: 1px;
  grid-template-areas: 
    "man1 woman1 woman1"
    "man1 woman2 man2";
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}

.man1{grid-area: man1;}

.man2{grid-area: man2;}

.woman1{grid-area: woman1;}

.woman2{grid-area: woman2;}

.img-button{
  position: relative;
}

.button{
  position: absolute;
  display: flex;
  margin-left: 30px;
  color: #ffffff;
  align-items: center;
  bottom: 20px;
}

.button p{margin-right: 10px;}

.best-sellers p{
  font-size: 34px;
  font-family: "HelveticaNeue"; 
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.19);
  font-weight: 200;
  color: #ffffff;
  line-height: 1;
  white-space: nowrap;
}


.shop-now{
color: #ffffff;
font-family: "HelveticaNeue" !important;
font-size: 12px;
line-height: 12px;
font-weight: 400; 
padding: 10px 8px;
background-color: #4fafa0;
}

/*-------------------COLLECTION--------------------- */


.top-navigation {
  display: flex;
  width: 1060px;
  margin: auto;
  justify-content: space-between;
}
.top-navigation_left, .top-navigation_right{
  display: flex;
}


.top-navigation_left p{
  padding: 20px;
  color: #555555;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  transition: all ease 0.2s;
}

.top-navigation_left p:hover{
  background-color: #fd926d;
  color: #ffffff;
}

.whats-hot{
  color: #ffffff !important ;
  background-color: #fd926d;
}


.top-navigation_right img{
  padding: 12px 20px;
  background-color: #f2f2f2;
  transition: all ease 0.2s;
  width: 14px;
  height: 31px;
}

.top-navigation_right img:hover {
  background-color: #fd926d;
}

.models{
  display: flex;
  justify-content: center;
  background-color: #fd926d; 
  padding: 30px 0;
  overflow: hidden;
}

.add-img{
  width: 120px;
  height: 35px;
}




/* -------------------50PERCENT--------------------- */

shop-promotion{
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.div-shop-promotion{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.band-long{
  height: 1px;
  background-color: #b2b2b2;
  opacity: 0.5;
  width: 40%;
}


/* -------------------OFFER--------------------- */


.offer-container{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.div-offer{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.models_offer-form, .model-640px{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  transition: all ease 0.1s;
  margin: 0 15px;
}

.model-640px{display: none;}

.relative{
  position: relative;
  top: calc(147.5px - 70px);
  right: 70px;
}
.absolute{
  display: none;
  position: absolute;
  height: inherit;
  width: inherit;
  transition: all ease 0.2s;
}

.models_offer-form:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.models_offer-form:hover .absolute{
  display: block;
}





.offer-form_name{
  padding: 12px 0;
  font-size: 12px;
  font-weight: 400;
  color: #373737;

}

.offer-form_cost{
  font-size: 22px;
  font-weight: 400; 
  color: #373737;

}

.add-to-card{
  border-bottom: 3px solid #dd6b44;
  background-color: #fd926d;
  align-items: center;
  display: flex;
  padding: 10px 15px;
  margin: 10px 0;
  transition: 0.3s;
}
.add-to-card:hover{
  background-color:#dd6b44;
}


.add-to-card p{
  color: #ffffff;
  text-transform: uppercase;
  font-family: "HelveticaNeue";
  font-size: 12px;
  margin-right: 15px;
  font-weight: 400;
}

.fas{
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}


/* -------------------ABOUT-US--------------------- */


about-us{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.div-about-us{
  width: 80%;
  text-align: center;
}

.div-about-us h1{
  color: #414141;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}

.div-about-us p{
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}


/* -------------------BRANDS--------------------- */


.brands-title{
  display: flex;
  align-items: center;
}
.brands-title_band{width: 100%;}
.brands-title p{
  color: #414141;
  font-size: 15px;
  font-weight: bold;
  margin: 0px 20px;
  white-space: nowrap;
}

.brands-images{
  margin: auto;
  width: 980px;
  padding: 16px 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.brands_bottom-band{
  width: 100%;
}


/* -------------------CARDS--------------------- */


.accept{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #f7f7f7;
}
.accept_content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.accept_content p{
  opacity: 0.5;
  color: #414141;
  font-size: 12px;
  font-weight: 400;
  margin-right: 15px;
}


/* -------------------PREFOOTER--------------------- */


.prefooter-container{
  display: flex;
  justify-content: center;
  padding: 35px 0;
  background-color: #ededed;
}

.prefooter-container a:hover{
  color: #000000;
  transform: scale(1.1);
}

.div-prefooter{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.column h1{
  color: #544f4d;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.column a{
  opacity: 0.7;
  color: #544f4d;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}

.prefooter-social_links .row1{
 margin-bottom: 10px;
 display: flex; 
 width: 135px;
 justify-content: space-between;
}
.prefooter-social_links .row2{
  display: flex; 
  width: 135px;
  justify-content: space-between;
}
.prefooter-social_links a{
  margin: 0;
}



/* -------------------FOOTER--------------------- */


footer{
  display: flex;
  padding: 25px 0;
  background-color: #000000;
  justify-content: center;
}

.div-footer{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  color: #8d8d8d;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  text-align: right;
}


/* -------------------1204PX - 768PX-------------------- */


@media (max-width:1203px) {  

  .div-header, .div-catalog, .div-contacts,
  .top-navigation, .div-about-us,
  .div-prefooter, .div-footer { 
    width: 96%; 
  }

  .menu{ width: max-content; }

  .element, .grid-collage, .out-768, 
  .crazy-summer_back-1204px, .stores, .campaigns{
    display: none; 
  }

  .crazy-summer{
    height: 350px;
  }

  .crazy-summer_back{
    width: 768px;
  }
  .crazy-summer_button {
    bottom: 50px;
    padding: 15px 17px;
    margin-left: 145px;
  }

  .crazy-summer_button p {
    font-size: 12px;
    margin-right: 15px;
  }

  .crazy-summer_band{ width: 20%; }

  .balls { padding: 20px 0; }

  .collage768 {
    padding: 35px 0;
    margin: auto;
    display: block ;
  }

  .offer-container{ padding-bottom: 35px; }
  
  .brands-images{ width: 89%; }

  .prefooter-container{
    display: block;
    padding-bottom: 0;
  }
 
  .div-prefooter {
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }

 .campaigns2, .stores2 {
   display: block;
 }

 .crazy-summer_back-768px {display: block;}

  menu-768{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .div-menu-768{
    box-sizing: border-box;
    width: 96%;
    display: flex;
    margin-bottom: 20px;
    padding: 15px 17px;
    justify-content: space-between;
    background-color: #fd926d;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
  }

  .whats-hot img {
    display:  none;
  }

  .div-shop-promotion{
    width: 100%;
  }

  .div-shop-promotion img { 
    padding: 0 20px;
  }

  
}


/* -------------------768PX--640PX-------------------- */


@media (max-width:767px) {  

  .element, .collage768, .cart_top, 
  .crazy-summer, .balls,
  .grid-collage, .out-640, 
  .offer-container, .user-email p,
  .brands-images, about-us, .accept,
  .prefooter-container, .models_offer-form,
  .brands-title, .info{ 
    display: none; 
  }

  .div-header{
    flex-direction: column;
    width: 100%;
  }
  
  .tel{ 
    background-color: #fafafa;
    width: 100%;
    color: #838383 !important;
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    padding: 33px 0px;
    display: flex;
    justify-content: center;
    line-height: 30px;
  
  }
  
  .navigation{
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    justify-content: center;
  }

  .navigation img{
    width: 40px;
    height: 40px;
  }

  .navigation_currency{
    padding: 30px 26px 30px 30px;
    
  }

  .navigation_currency select{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    background: url(img/currency-arrow-640.png) no-repeat right;
    width: 98px;
    background-size: 20px 10px;
  }

  .navigation_account{ 
    padding: 0 65px;
    height: 100%;
  }
  
  .navigation_account p { margin-left: 18px; }

  .navigation_search{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
  }

  .div-catalog{
    flex-direction: column;
    width: 96%;
  }

  .logo{
    width: 358px;
    height: 88px;
    margin: 55px 0;
  }
  
  .menu,.cart { width: 100%; }
  
  .cart_bottom {
    font-size: 30px;
    font-weight: 400;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .cart-img{
    width: 55px;
    height: 55px;
  }

  .div-menu-768{
    padding: 33px 30px;
    margin-bottom: 25px;
  }

  .div-menu-768 p {
    font-size: 30px;
    line-height: 30px;
  }

  .burger {
    width: 33px;
    height: 30px;
  }

  .catalog-container{ padding: 0 0 25px; }   

  .contacts-container {
    height: min-content;
    background-color: #ffffff;
  }

  .div-contacts { flex-direction: column; }

  .user-email, .input-container, 
  .whats-hot, .top-navigation,
  .top-navigation_left, .div-shop-promotion, .div-footer{
    width: 100%; 
  }

  .email-field{
    background-color: #ededed;
    border: none;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
  }

  .email-plus{
    border-bottom: 7px solid #dd6b44;
    padding: 25px 30px;
    font-size: 37px !important;
    font-weight: bolder;
  }

  .our-social{
    padding: 25px 0;
  }

  .our-social img{
    width: 100%;
    height: 100%;
  }


  .our-social p{
    font-size: 26px;
    margin-right: 35px;
  }

  .whats-hot { 
    font-size: 30px !important;
    padding: 33px 30px !important;  
    line-height: 30px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4845d;
  }

  .whats-hot img, .model-640px {
    display: flex;
  }


  .models {padding-bottom: 0}

  .add-to-card {
    border-bottom: 7px solid #dd6b44;
    padding: 20px 20px 20px 30px;
    margin: 10px 0;
  }

  .add-to-card p {
    font-size: 17px;
    margin-right: 25px;
  }
  .fas {
    font-size: 17px;
  }

  .model-640px {
    margin-bottom: 30px;
  }

  .model-640px:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .model-640px:hover .absolute{
    display: block;
  }

  .offer-form_name{ 
    font-size: 18px;
    padding-top: 15px;
  }


  .offer-form_cost{ 
    font-size: 27px;
    padding: 15px 0;
  }

  .load-more{
    width: 100%;
    height: min-content;
    padding-bottom: 30px; 
    display: flex;
    justify-content: center;
    background-color: #fd926d;
  }

  .load-more_button{
    font-size: 20px;
    padding: 23px 53px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "HelveticaNeue";
    background-color: #000000;
    font-style: bold;
  }

  shop-promotion { padding: 0; }

  .div-shop-promotion img { 
    padding: 30px 15px 35px;
  }
  
  .div-bags{
    display: flex;
    justify-content: center;
    padding: 0 30px 35px;
  }

  .bags-container .load-more{
    padding: 0 0 35px 0; 
    background-color: #ffffff;
  }

  footer{padding: 0;}
  .div-footer{padding: 30px 30px;}

  .burger, .bags-container {display: block;}
  .rights p {
    font-size: 24px;
    line-height: 30px;
  }

}




@font-face {
  font-family: "HelveticaNeue"; 
  src: url(fonts/HelveticaNeueLTStd-UltLtCn.ttf) format("truetype"); 
  font-style: lighter; 
  font-weight: 200; 
} 

@font-face {
  font-family: "HelveticaNeue"; 
  src: url(fonts/HelveticaNeueLTStd-Lt.otf) format("truetype"); 
  font-style: bold; 
  font-weight: 500; 
} 

@font-face {
  font-family: "HelveticaNeue"; 
  src: url(fonts/HelveticaNeueLTStd-Th.otf) format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
} 